<form action="/books/add" method="post">
  <label for="title">Title:</label>
  <input id="title" type="text" name="title">

  <label for="">Author:</label>
  <select name="author" id="">
    {{#each authors}}
      <option value="{{_id}}">{{name}} {{lastName}}</option>
    {{/each}}
  </select>

  <label for="">Description:</label>
  <input type="text" name="description">

  <label for="">Rate:</label>
  <input type="number" name="rating">

  <button type="submit">ADD</button>
</form>